###> symfony/framework-bundle ###
APP_ENV=null
APP_SECRET=null
PROJECT_NAME=null
###< symfony/framework-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=null
###< nelmio/cors-bundle ###

ENCRYPTION_KEY=null
FRONT_URL=null
BACK_URL=null
PROJECT_ROOT=null

###> mysql ###
MYSQL_DATABASE=null
MYSQL_USER=null
MYSQL_PASSWORD=null
MYSQL_RANDOM_ROOT_PASSWORD=null
MYSQL_ROOT_PASSWORD=null
###< mysql ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=null
###< doctrine/doctrine-bundle ###

# Configuration du serveur
SERVER_NAME=null

# Port HTTP et HTTPS
HTTP_PORT=null
HTTPS_PORT=null
HTTP3_PORT=null

# JWT pour Mercure (si nécessaire, remplace par une vraie clé)
CADDY_MERCURE_JWT_SECRET=null
CADDY_MERCURE_URL=null
CADDY_MERCURE_PUBLIC_URL=null

# Autres variables Symfony (si nécessaire)
SYMFONY_VERSION=null
STABILITY=null

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=null
JWT_PUBLIC_KEY=null
JWT_PASSPHRASE=null
###< lexik/jwt-authentication-bundle ###

###> php-amqplib/rabbitmq-bundle ###
RABBITMQ_USER=null
RABBITMQ_PASS=null
RABBITMQ_VHOST=null
###< php-amqplib/rabbitmq-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=null
###< symfony/messenger ###

CALLBACK_URL=null

###> Linkedin Authentication ###
LINKEDIN_CLIENT_ID=null
LINKEDIN_CLIENT_SECRET=null
LINKEDIN_API_URL=null
LINKEDIN_LOGIN_URL=null

###> Twitter Authentication ###
TWITTER_CLIENT_ID=null
TWITTER_CLIENT_SECRET=null
TWITTER_API_URL=null
TWITTER_API_KEY=null
TWITTER_API_SECRET=null

###> Facebook Authentication ###
FACEBOOK_CLIENT_ID=null
FACEBOOK_CLIENT_SECRET=null
FACEBOOK_API_URL=null
FACEBOOK_LOGIN_URL=null
